
body {
  margin: 0;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;

  user-select: none;
}

body * {
  flex-shrink: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: hsla(0,0%,100%);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(200,80%,76%,0.8);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-resizer {
  background-color:transparent;
}

.controller {
  color: hsla(0, 100%, 50%, 0.5);
  border-bottom: 1px solid #eee;
}

.controller:hover {
  color: hsla(0, 100%, 20%, 1);
  border-bottom: 1px solid #22f;
}